@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("./Light.ttf") format("truetype"),
}
@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Regular.ttf") format("truetype"),
}
@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Medium.ttf") format("truetype"),
}
@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Bold.ttf") format("truetype"),
}
@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("./Black.ttf") format("truetype"),
}
