<div class="account-details-page">
  <h2 class="account-details-page__header">Об аккаунте</h2>
  <h3 class="account-details-page__H3">Фамилия</h3>
  <p class="account-details-page__P">Иванов</p>
  <h3 class="account-details-page__H3">Имя</h3>
  <p class="account-details-page__P">Иван</p>
  <h3 class="account-details-page__H3">Организация</h3>
  <p class="account-details-page__P">ООО Ивановский текстиль</p>
  <h3 class="account-details-page__H3">Должность</h3>
  <p class="account-details-page__P">Текстильный эксперт</p>
</div>

