<ngx-loading-bar class="app-root__loading"
                 [height]="'4px'"
                 [includeSpinner]="false"
                 [color]="'rgba(0, 112, 186, 0.7)'">
</ngx-loading-bar>
<button (click)="success()">success</button>
<button (click)="info()">info</button>
<button (click)="error()">error</button>
<div class="app">
  <hnt22-header [menuItems]="menuItems"></hnt22-header>
  <div class="app-root__content">
    <router-outlet></router-outlet>
  </div>
  <hnt22-footer></hnt22-footer>
</div>

