.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 280px;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: #f5f7ff;
  margin-right: 50px;
  list-style-type: none;
}
