.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 280px;
  padding: 20px 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  margin-right: 50px;
  list-style-type: none;
  border-radius: 5px;
}
