@import "assets/styles/variables";

.bad-result {
  border-radius: 10px;
  max-width: 540px;
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  &__header {
    font-size: 30px;
    color: $red;
  }
}
