<ng-container *ngIf="(data$ | async) as dataSource">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="organisation">
      <th mat-header-cell *matHeaderCellDef> Название организации </th>
      <td mat-cell *matCellDef="let element"> {{element.organization.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="requestId">
      <th mat-header-cell *matHeaderCellDef> Уникальный номер заявления </th>
      <td mat-cell *matCellDef="let element"> {{element.requestId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="vehicleNumber">
      <th mat-header-cell *matHeaderCellDef> Номер ТС </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicle.vehicleNumber}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Состояние заявления </th>
      <td mat-cell *matCellDef="let element"> {{element.status | status}} </td>
    </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действия </th>
    <td mat-cell *matCellDef="let element">
      <button class="requests-table__btn">
        <mat-icon class="requests-table__edit-icon" (click)="edit(element)">edit</mat-icon>
      </button>
      <button class="requests-table__btn">
        <mat-icon class="requests-table__delete-icon" (click)="deleteReq(element)">delete</mat-icon>
      </button>
      <button class="requests-table__btn" (click)="showCode(element)">
        <mat-icon class="requests-table__edit-icon">qr_code_2</mat-icon>
      </button>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

