<mat-stepper [orientation]="'vertical'" #stepper>
  <mat-step [stepControl]="formGroup1" [editable]="true">
    <form [formGroup]="formGroup1">
      <ng-template matStepLabel>Выберите транспортное средство</ng-template>

      <mat-form-field>
        <mat-label>Выберите ТС</mat-label>
        <mat-select formControlName="vehicle" (valueChange)="setUpForm($event)">
          <mat-option *ngFor="let vehicle of (vehicles$ | async)" [value]="vehicle">{{ vehicle.vehicleNumber }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup1.controls['vehicle'].errors &&
               formGroup1.controls['vehicle'].errors['required']"
                   class="form__error">
          Это поле обязательно
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Продолжить</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup2" [editable]="true">
    <form [formGroup]="formGroup2">
      <ng-template matStepLabel>Данные заявления</ng-template>

      <mat-form-field>
        <mat-label>Поставщик ТУ</mat-label>
        <input matInput type="text" formControlName="organization" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Гос. Номер</mat-label>
        <input matInput type="text" formControlName="vehicleNumber" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Субподряд</mat-label>
        <input matInput type="text" formControlName="subOrganization" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Модель</mat-label>
        <input matInput type="text" formControlName="model" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Вид транспортной услуги</mat-label>
        <input matInput type="text" formControlName="serviceType" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>СМА</mat-label>
        <input matInput type="text" formControlName="sma" >
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Продолжить</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup3" [editable]="true">
    <form [formGroup]="formGroup3">
      <ng-template matStepLabel>Данные ТС</ng-template>

      <mat-form-field>
        <mat-label>Вид ТС</mat-label>
        <input matInput type="text" formControlName="vehicleTypeExt" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип ТС</mat-label>
        <input matInput type="text" formControlName="vehicleType" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Значение характеристики типа ТС</mat-label>
        <input matInput type="text" formControlName="vehicleTypeExt" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип топлива</mat-label>
        <input matInput type="text" formControlName="fuelType" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Год выпуска</mat-label>
        <input matInput type="text" formControlName="date" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Страна производства</mat-label>
        <input matInput type="text" formControlName="country" >
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Продолжить</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Отправить</ng-template>
    <div>
      <button mat-button (click)="onSubmit()" class="form__submit-btn" [disabled]="isLoading">Отправить</button>
    </div>
  </mat-step>
</mat-stepper>
