@import "assets/styles/variables";

.item {
  text-align: center;

  &__link {
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: #333;
    text-decoration: none;
    transition: border-bottom 0.1s linear;
    height: 100%;
    display: flex;
    position: relative;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  &__link:hover {
    cursor: pointer;
    border-bottom: 2px solid $blue;
  }
}
:host {
  margin-right: 40px;
}
:host:last-of-type{
  margin-right: 0;
}
