/* You can add global styles to this file, and also import other style files */
@import "assets/styles/index";
@import "assets/fonts/Roboto/Roboto.css";

.page {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  background-color: #fff;
}
