.form {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 358px;
  margin: 0 auto;

  &__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 41px;
  }
  &__field {
    display: block;
    min-height: 44px;
  }
  &__field:first-of-type {
    margin-bottom: 5px;
  }
  &__input {
    border: none;
    border-bottom: 1px solid rgb(0,0,0, .2);
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px 20px 5px;
    background-color: transparent;
  }
  &__input:focus {
    outline: none;
    border-bottom: 1px solid #1D4776;
  }
  &__input::placeholder {
    color: #000;
  }
  &__input_type_error {
    border-bottom: 1px solid #FF0000;
  }
  &__error {
    margin-top: 5px;
    visibility: hidden;
    display: block;
    box-sizing: border-box;
    min-height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
  }
  &__error_visible {
    visibility: visible;
  }
  &__submit-btn {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: #fff;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #000;
    cursor: pointer;
    transition: opacity .4s;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  &__submit-btn:hover {
    opacity: 0.8;
  }
  &__submit-btn_disabled {
    color: #000;
    background: transparent;
    border: 1px solid #000;
    opacity: .2;
    pointer-events: none;
  }
}
@media (max-width: 580px) {
  .form {
    width: 260px;

    &__title {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 68px;
    }
    &__submit-btn {
      margin-top: 15px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
