@import "assets/styles/variables";

.mat-mdc-snack-bar-container {
  &--success {
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-container-color: #198754  !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }

  &--error {
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-container-color: #b02a37 !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }

  &--info {
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-container-color: rgb(0, 112, 186) !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }
}
