    <form class="form login-form">
      <h2 class="form__title login-form__title">Вход</h2>
      <div class="form__field">
        <input
          class="form__input"
          placeholder="Login"
        />
        <span class="form__error email-error"></span>
      </div>
      <div class="form__field">
        <input type="password"
               class="form__input"
               placeholder="Password"
        />
        <span class="form__error password-error"></span>
      </div>
      <button class="form__submit-btn login-form__btn"
              type="submit">
        Войти
      </button>
      <a [routerLink]="'/sign-up'" class="login-form__link">
        Нет аккаунта? Зарегистрироваться
      </a>
    </form>
