<form [formGroup]="formGroup" class="form login-form" (submit)="onSubmit()">
  <h2 class="form__title login-form__title">Вход</h2>

  <mat-form-field class="form__field">
    <mat-label>Логин</mat-label>
    <input matInput
           formControlName="login"
           type="text"
           class="form__input"/>

    <mat-error *ngIf="formGroup.controls['login'].errors &&
               formGroup.controls['login'].errors['required'] &&
               formGroup.controls['login'].touched"
               class="form__error"
    >
      Это поле обязательно
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__field">
    <mat-label>Пароль</mat-label>

    <input matInput
           formControlName="password"
           type="text"
           class="form__input"
           placeholder="Пароль"/>

    <mat-error *ngIf="formGroup.controls['password'].errors &&
               formGroup.controls['password'].errors['required'] &&
               formGroup.controls['login'].touched"
          class="form__error"
    >
      Это поле обязательно
    </mat-error>
  </mat-form-field>

  <button class="form__submit-btn login-form__btn"
          type="submit"
          (submit)="onSubmit()"
          [disabled]="isLoading"
  >
    Войти
  </button>

  <a [routerLink]="'/sign-up'" class="login-form__link">
    Нет аккаунта? Зарегистрироваться
  </a>
</form>
